/* MovieCard.css */

.imdb-card {
  width: 200px; /* Set a specific width for each card */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
  h1 {
    font-size: 18px; /* Increased font size for movie name */
    margin-bottom: 8px;
  }

  h2 {
    font-size: 16px; /* Decreased font size for title */
    margin-bottom: 8px;
  }

  p {
    font-size: 12px; /* Decreased font size for description */
    color: #555;
  }
  .movie-logo {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the image's aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for the image */
  }
}
