.movie-cards {
  display: flex;
  flex-wrap: wrap;
}

.ShimmerCards {
  display: flex;
  flex-wrap: wrap;
}
.SearchBar {
  display: flex;
  align-items: center;
  margin: 16px;
}

input {
  padding: 8px;
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.Search-Button {
  height: 58px; /* Set the height to match the search bar */
  padding: 0 12px; /* Adjust padding as needed */
  background-color: #ffffff; /* Blue color */
  color: #0e51ce; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* Hover effect */
.Search-Button:hover {
  background-color: #c0c1c4; /* Darker blue color on hover */
}
.custom-link {
  text-decoration: none;
  color: inherit; /* Ensure that link color matches the parent's color */
}
