/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #6495ed; /* Light blue background */
  color: #fff; /* Light text color */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Use a web-safe font or import a custom font */
}

.logo-container img {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

.nav-items ul {
  list-style: none;
  display: flex;
}

.nav-items li {
  margin: 0 15px;
  cursor: pointer;
  font-weight: bold; /* Make the font bolder */
  transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

.nav-items li:hover {
  text-decoration: underline;
  color: #ddd; /* Lighter text color on hover */
}
.custom-link {
  text-decoration: none;
  color: inherit; /* Ensure that link color matches the parent's color */
}
