/* MovieCard.css */

.movie-card {
  width: 300px; /* Set a specific width for the card */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the image's aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for the image */
  }
}

.movie-card-setup {
  display: flex;
}
