/* MovieCard.css */

.movie-card {
  width: 300px; /* Set a specific width for the card */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the image's aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for the image */
  }
}

.movie-card-setup {
  display: flex;
  margin: 16px;
}
.movie-details {
  padding: 16px;
}

.movie-details h3 {
  margin: 8px 0;
}

/* Additional styling for a clean look */
.movie-details h3 {
  font-size: 16px;
  color: #333;
}

.movie-details p {
  font-size: 14px;
  color: #555;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .movie-card-setup {
    flex-direction: column;
  }

  .movie-card {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
  }
}

.user-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
.user-img img {
  max-width: 100px; /* Set the maximum width for the user image */
  height: auto; /* Maintain the image's aspect ratio */
  border-radius: 50%; /* Make the image a circle */
  margin-right: 16px; /* Add some margin to separate image from text */
}

.user-info h1 {
  font-size: 18px; /* Adjust font size for user name and login */
  margin-bottom: 8px;
}

.user-info h2 {
  font-size: 14px; /* Adjust font size for description */
  color: #555;
}
/* About.css */

/* About.css */

.about-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-content {
  color: #333; /* Dark text color */
}

h1 {
  color: #3498db; /* Blue color */
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

.user-section {
  margin-top: 20px;
}

h2 {
  color: #3498db; /* Blue color */
  margin-bottom: 8px;
}
